:root {
  --black: #1e1e1e;
  --white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button {
    background-color: unset;
    border: unset;
}

a {
  text-decoration: unset;
  color: unset;
}

#root,
#__next {
  isolation: isolate;
}

/* -------------------------------- AJOUTS --------------------------------------- */
html {
  scroll-behavior: smooth;
}

header {
  margin: 40px 0px;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

hr {
  width: 70%;
  margin: 20px auto;
  box-shadow: 2px 2px 10px var(--black);
}

#txt_header {
  font-size: 1.5rem;
  text-align: center;
  margin: 80px 0 20px 0;
}

#container_principal {
  display: flex;
  justify-content: space-around;
}

.container_img_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img_monument {
  object-fit: cover;
  cursor: pointer;
}

.btn_monument {
  width: 50%;
  margin-top: 10px;
  cursor: pointer;
  background-color: var(--black);
  color: var(--white);
  padding: 10px;
  border-radius: 0 10px;
  font-size: 1.2rem;
  font-weight: lighter;
}

#container_txt {
  position: relative;
  background-color: var(--black);
  width: 100%;
  height: 350px;
  margin: 30px 0;
  padding: 10px 30px;
  border-radius: 0 15px;
  display: none;
}

h2 {
  color: var(--white);
  font-size: 3.5rem;
}

h3 {
  color: var(--white);
  font-size: 2.2rem;
  font-weight: bold;
}

#bold {
  font-weight: lighter;
}

#txt_monument {
  color: var(--white);
  width: 78%;
  font-size: 1.2rem;
  font-weight: lighter;
  text-align: justify;
  margin-top: 10px;
}

#img_carte {
  position: absolute;
  height: 300px;
  width: 300px;
  top: 25px;
  right: 25px;
}

#img_carte:hover {
    scale: 1.17;
    border-radius: 0 15px 0 0;
    /* ajouter un effet au hover */
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.flou {
  filter: blur(5px); /* Applique un flou */
  pointer-events: none; /* Désactive l'interaction (clic) avec les éléments floutés */
}


